<!DOCTYPE html>
<html>
<head>
  <title>Gragram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>  <!-- 2.3.1のbootstrap使用 -->
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">     <!-- mobile対応(スマホ&タブレット) -->
</head>
<body>

  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"style=width:100%;">
          <%= link_to "Gragram", root_path, class: "navbar-brand" %>
          <div class = "header-container"style=width:100%;">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"style="max-width: 100px;float: right;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">menu<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "新規投稿", new_picture_path %></li>
                  <li><%= link_to "Picture", pictures_path %></li>
                  <li><%= link_to "マイページ" %></li>
                  <li><%= link_to "ログイン" %></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
  </header>

  <%= yield %>

  <footer>
    <p>運営会社　Gragram株式会社</p>
    <p>© 2015-2016 Copyright Gragram Corp.</p>
  </footer>

</body>
</html>
